.titulo{
    font-size: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:pink;
    
}

.footer{
    font-size: small;
    display: flex;
    color: grey; 
}